.more-wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.more-blob {
    width: clamp(360px, 70%, 1080px);
    height: auto;
    padding: 3rem;
    border-radius: 10px;

    background-color: var(--eigen);
    color: white;
}

.more-blob > h2 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1rem;
}

.more-blob > h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .5rem;
}

.more-blob > p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: gray;
    text-align: center;
}

.more-blob {
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    .more-blob {
    }
}

@media (max-width: 425px) {
    .more-blob {
        padding: 25px 20px;
    }
    .more-blob > p {
        font-size: 13px;
        line-height: 1.5rem;
    }
    .more-blob > h2 {
        font-size: 20px;;
    }
    .more-blob > h3 {
        font-size: 16px;
    }
}


