@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --navbarWidth: 200px;
  --toolbarFootHeight: auto;
  --mobileTBFootHeight: 50px;

  --btnRadius: 5px;
  --defaultRadius: 10px;

  --defaultShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  --hoverHighlightDark: rgba(0,0,0,.5);
  --hoverHighlightLight: rgba(255,255,255,.04);
  --hoverHighlightEigen: rgb(61, 61, 68);
  --hoverHighlightDarkGrey: rgb(29, 29, 39);
  --hoverHighlightGreen: rgba(81, 112, 88,.5);

  --border: 1px solid rgba(68, 68, 74, .4); 

  --darkGrey: rgb(17, 17, 23);
  --lightGrey: rgb(115,115,119);

  --eigen: #16161d;

  --darkGreen: #2b3b31;
  --green: #517058;
  --lightGreen: #799981;

  --red: rgba(255,0,0,.5);
  --lightRed: rgba(255,26,26,.6);
}

body {
  font-family: 'Poppins', sans-serif;
  overscroll-behavior: none;
}

.App {
  max-height: 100vh;
  overflow: scroll;
}


.mainbody {
  min-width: calc(100vw - var(--navbarWidth));
  height: auto;
  min-height: 100%;
  max-height: 100vh;

  margin-left: var(--navbarWidth);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}


.page {
  max-width: calc(100vw - var(--navbarWidth));
  margin-left: var(--navbarWidth);
  padding: 10px;
}

div.more-wrapper.page {
  overflow-y: scroll;
}


.error-message {
  text-align: center;
  color: red;
  font-size: 1rem;
}

input {
  padding: .2rem .5rem;
  font-size: .9rem;;
  letter-spacing: .2ch;

  border: var(--border);
  border-radius: 5px;

  background-color: var(--darkGrey);
  color: var(--lightGrey);

  box-shadow: var(--defaultShadow);

}

.red-btn {
  background-color: var(--red);
  border: 1px solid var(--lightRed);
}

.red-btn:hover {
  background-color: rgba(255,0,0,.3);
  border: 1px solid var(--red);
}

input::placeholder {
  color: rgb(69,69,74);
}

input:focus {
  border: 1px solid var(--lightGrey);
  outline: none;

}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;


  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, .5);
  backdrop-filter: blur(5px);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);
  background-color: var(--eigen);

  height: auto;
  width: 300px;
  padding: 50px;
  color: white;
  border-radius: 6px;
  border: var(--border);
}

.modal-header {
  text-align: center;

}

.modal-buttons {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.modal-buttons > button {
  flex-grow: 1;
  border-radius: var(--btnRadius);
  border: none;
  padding: .5rem;
  font-size: 1rem;
  font-weight: bolder;
}

button.confirm {
  background-color: rgba(255,0,0,.5);
  margin-right: 5px;
}
button.confirm:hover {
  background-color: rgba(255,0,0,.3);
}

button.delete {
  background-color: gray;
  margin-left: 5px;
}

button.delete:hover {
  background-color: rgba(255,255,255,.3);
}


.small-modal-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 150;
  height: 100%;
  width: 100%;
}

.small-modal-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;

  width: 100%;
  height: 100%;
  background-color: black;

  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.small-modal-message {
  font-size: 16px;
  flex-grow: 1;
}

.small-modal-buttons {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.small-modal-buttons > button {
  padding: .4rem;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  width: auto;
  
  display: flex;
  flex-direction: center;
  align-items: center;
  color: white;
  border: var(--border);
  background-color: var(--eigen);
}
.small-modal-sign-in {
  background-color: var(--darkGreen);
  margin-right: 6px;
}
.small-modal-buttons > .small-modal-cancel {
  background-color: var(--eigen);
}

.small-modal-buttons > button:hover {
  opacity: .8;;
}

@media (max-width: 1495px) {
  div.small-modal-message,
  div.small-modal-buttons > button {
    font-size: 12px;
  }
}

@media (max-width: 1250px) {
  .navbar-wrapper {
    display: none;
  }
  div.navbar-icon {
    display: block;
  }
  .mainbody {
    margin: 0;
  }
  div.game-wrapper {
    height: 100%;
    min-width: 0 !important;
    max-width: none !important;
    padding: 20px;
    padding-top: 10px;
    flex: 1 1 0;
}


  div.toolbar-container {
    height: 100%;
  }
  div.toolbar-wrapper {
    padding-top:10px;
    height: calc(100vh - 40px) !important;
    margin-bottom: 20px;
  }


  div.page {
    margin-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
  }
  div.more-blob {
    width: 100% ;
  }

}

@media (max-width: 768px) {
  div.App {
    max-height: none;
    width: auto !important;
  }
  .mainbody {
    flex-direction: column;
    height: auto;
    min-height: none;
    max-height: none;
  }
  div.navbar-icon {
    margin-top: 5px;
    margin-left: 20px;
  }
  div.toolbar-container {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
  }

  .toolbar-title {
    border-radius: 0;
  }

  div.toolbar-wrapper {
    width: 360px;

    max-height: 100%;
    padding: 0 20px; 

    width: 100%;
    max-width: 100%;
    min-width: none;
    flex: 1 1 0;

    justify-content: flex-start;
}
div.small-modal-message,
div.small-modal-buttons > button {
  font-size: 16px;
}

div.toolbar-container > div.toolbar-body {
  max-height: 400px;
}
div.game-wrapper {
    height: auto;
    width: 100vw;
    min-width: 0 !important;
    max-width: none !important;
    padding: 20px;
    flex: 1 1 0;
    padding-top: 10px;
}
}

@media (max-width: 425px) {
  html {
    background-color: var(--darkGrey);
  }

  div.navbar-icon {
    margin: 0;
    height: auto;
  }

  div.navbar-icon > button {
    background-color: transparent;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 5px;
  }

  div.toolbar-title {
    display: none;
  }

  div.game-wrapper {
    padding: 0;
  }
  div > div.toolbar-wrapper {
    padding: 0;
    margin: 0;
  }
  div.toolbar-container {
    border-radius: 0;
  }
  div.mainbody {
    min-height: 0 !important;
  }

  h2.toolbar-title {
    display: none;
  }

  div.toolbar-description {
    order:1;
  }

  div.search-container {
    order: 2;
    border-bottom: var(--border);
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  .search-container select {
    font-size: 14px;
  }

  h4.flashcard-title {
    font-size: 12px;
  }

  div.toolbar-body {
    padding-top: 0;
  }
}